$facebook-color: #3b5998;
$google-color: #dd4b39;
$linkenin-color: #007bb6;

.login-background::before {
  content: "";
  position: absolute;
  background-color: black;
  opacity: 0.2;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 1;
  top: 0;
}

.login-background {
  background-image: url(../../../public/login.png);
  background-size: cover;
  position: relative;
  z-index: 0;

  padding: 125px;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-container {
    background-color: white;
    z-index: 1;
    padding: 30px 35px;
    width: 400px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgb(0, 0, 0);

    .form-slogan {
      h2 {
        text-align: center;
      }
      p {
        text-align: left;
        font-size: 15px;
      }
    }
    .login-content {
      padding: 5px;
      margin-bottom: 14px;
      display: flex;
      flex-direction: column;
      align-items: center;
      .login-input {
        margin-bottom: 14px;
        padding: 9px 20px;
        position: relative;
        display: flex;
        align-items: center;
        .social-icon{
            position: absolute;
            right: 30px;
            
        }
        .social-icon:hover{
            cursor: pointer;
        }
      }
      .btn-group {
        .btn-login {
          box-shadow: 0 1px 3px rgb(0, 0, 0);
          background-color: #29a4ff;
          border: none;
          padding: 8px 40px;
        }
        .btn-login:hover {
          box-shadow: 0 6px 8px rgb(0, 0, 0);
        }
      }
    }

    .social-login {
      margin-bottom: 15px;
      display: flex;
      justify-content: center;
      .social-link {
        display: flex;
        text-decoration: none;
        margin: 0px 10px;

        .social-icon {
          width: 26px;
          height: 26px;
          border-radius: 50%;
          column-gap: 5px;
          justify-content: center;
          align-items: center;
          display: flex;
          color: white;
          text-decoration: none;
        }
        
        .facebook {
          background-color: #3b5998;
        }
        .google {
          background-color: #dd4b39;
        }
        .linkendin {
          background-color: #007bb6;
        }
        .social-text {
          color: rgb(182, 178, 178);
          margin-left: 2px;
        }
      }
      .social-link:hover {
        .social-icon {
          box-shadow: 1px 2px 4px rgb(0, 0, 0);
        }
        .social-text {
          text-shadow: 1px 2px 3px rgb(18, 97, 172);
          text-decoration: underline;
          color: #29a4ff;
        }
      }
    }
    .other-form {
      display: flex;
      flex-direction: column;
      align-items: center;
      .link-text{
        text-decoration: none;
        color: black;
        opacity: 0.6;
      }
      .link-text:hover {
        text-shadow: 1px 2px 3px rgb(18, 97, 172);
        text-decoration: underline;
        color: #29a4ff;
        cursor: pointer;
      } 
    }
    
  }
}
